@import '~styles/variables.styl';

.view-header
	margin-top: 15px
	margin-left: 20px
	margin-right: 20px
	margin-bottom: 15px

	h1
		color: $color-heading
		font-size: 1.5em
		margin: 0

	p
		opacity: .6
		margin: 0
