@import '../../styles/variables.styl'

.tabs__item
	background-color: $color-background
	border: 1px solid $control-outline-color
	color: $color-heading
	text-align: center
	position: relative
	padding: 4px 20px
	cursor: default
	display: block
	z-index: 1
	flex: 1

	& + &
		margin-left: -1px

	&--active
		background-color: $color-primary
		border-color: $color-primary
		color: $color-foreground
		z-index: 2

	&:not(&--active):hover
		background-color: darken($color-background, 1%)

	&:first-of-type
		border-radius: $control-border-radius 0 0 $control-border-radius

	&:last-of-type
		border-radius: 0 $control-border-radius $control-border-radius 0
