@import '../../styles/variables.styl'

.version-card
	border: 1px solid $control-outline-color
	border-radius: $control-border-radius
	background: $color-background
	flex-direction: column
	align-items: center
	display: inline-flex
	padding: 20px 10px
	width: 160px

	&:not(&--installed) &__version
		opacity: 0.5

	&__name
		font-weight: 600
		font-size: 125%
		display: block

	&__version
		margin-top: 10px
