@import '~styles/variables.styl'
@import '~styles/mixins.styl'

$badge-size = 32px
$swipe-bar-size = 60px

text-overflow-ellipsis()
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden

.project-card
	border-bottom: 1px solid transparent
	border-top: 1px solid transparent
	border-left: none
	position: relative
	padding-left: 14px
	display: flex
	flex: 1

	&:not(&--active):hover
		background-color: darken($color-foreground, 5%)

	&--active
		background: $color-foreground
		border-top-color: $control-outline-color
		border-bottom-color: $control-outline-color

	&__contents
		pointer-events: none
		overflow: hidden
		display: flex
		width: 100%

	&__badge
		font-size: $font-size-base * 1.25
		text-transform: uppercase
		line-height: $badge-size
		border-radius: 50%
		height: $badge-size
		width: $badge-size
		text-align: center
		color: white

	&__details
		text-overflow-ellipsis()
		line-height: ($badge-size / 2)
		margin-right: 5px
		margin-left: 10px
		flex: 1
		hide-in-compact-mode()

	&__name
		text-overflow-ellipsis()
		color: darken($color-heading, 5%)

	&__status
		font-size: $font-size-base * .75
		opacity: .75

	&__star
		background-color: $color-background
		align-self: center
		position: absolute
		border-radius: 50%
		color: #ffd700
		padding: 2px
		width: 14px
		height: 14px
		left: 12px
		top: 12px

	&:not(&--active):hover &__star
		background-color: darken($color-foreground, 5%)

	&--active &__star
		background-color: $color-foreground
