@import '~styles/variables.styl';
@import '~styles/mixins.styl';

.Sidebar
	box-shadow: inset -1px 0 0 $control-outline-color
	padding-top: $titlebar-height
	flex-direction: column
	width: $sidebar-width
	display: flex
	height: 100vh

	+compact-mode()
		width: $sidebar-compact-width
