@import '~styles/variables.styl';
@import '~styles/mixins.styl';

.sidebar
	box-shadow: inset -1px 0 0 $control-outline-color
	flex-direction: column
	width: $sidebar-width
	display: flex
	height: 'calc(100vh - %s)' % ($titlebar-height)

	+compact-mode()
		width: $sidebar-compact-width
