$color-primary = #CB3837 // #C7363A
$color-primary-green = #37CB38
$color-background = #fafafa
$color-foreground = white

$color-heading = #333
$color-text = #555
$color-text-contrast = #222

$font-size-base = 14px
$line-height-base = 24px

$control-outline-color = #eee
$control-border-radius = 3px

$sidebar-width = 255px
$sidebar-compact-width = 60px
$sidebar-filter-height = 28px

$titlebar-height = 38px
