@import '~styles/variables.styl'

.ModuleCard
	align-items: center
	max-width: 500px
	padding: 10px
	display: flex
	margin: 0 auto

	&:not(:last-of-type)
		border-bottom: 1px solid $control-outline-color

	&-name
		color: $color-heading
		font-weight: 500

	&-version
		padding-left: 5px
		font-size: 85%
		opacity: 0.5

	&-description
		color: $color-text
		font-size: 85%

	&-meta
		padding-right: 10px
		flex: 1
