@import '~styles/variables.styl'

.ModuleExplorer
	justify-content: center
	align-items: center
	display: flex

	&-container
		flex-direction: column
		flex: 1

	&-controls
		margin-bottom: 10px
		display: flex

	&-input
		border: 1px solid $control-outline-color
		border-radius: $control-border-radius
		padding: 5px 10px
		outline: none
		flex: 1

	&-cancel + &-input
		margin-left: 10px

	&-cancel
		align-self: auto
