@import '~styles/variables.styl'
@import '~styles/mixins.styl'

$label-height = 32px

.SidebarSection
	transition: flex 300ms ease
	flex-direction: column
	min-height: $label-height
	flex-basis: $label-height
	display: flex
	flex: none

	&--expanded
		flex: 1

	&--expanded &-label
		color: $color-text

	&-label
		color: $color-text-contrast
		text-decoration: none
		padding: 0 14px
		padding-left: 10px
		line-height: $label-height
		cursor: default
		flex-shrink: 0
		outline: none
		height: $label-height
		margin-right: 1px

		.svg-icon
			margin-right: 6px

			+compact-mode()
				width: 100%

	&-labelText
		hide-in-compact-mode()

	&-contents
		transition: transform 100ms ease
		overflow: hidden
		overflow-y: auto

	&:not(&--expanded) &-contents
		height: 0

	&--expanded &-contents
		flex: 1

	&:not(&--expanded) &-label:hover
		background-color: darken($color-foreground, 5%)

