@import '~styles/variables.styl'

.dependency-card
	&--has-update
		font-weight: 600

	&__name
		line-height: 1.5

	&__category
		line-height: 1.5
		font-size: 85%
		opacity: 0.5

	&[aria-busy='true']
		pointer-events: none

	&:hover
		background-color: darken($color-background, 1%)

