@import '~styles/variables.styl'

.console-output
	-webkit-font-smoothing: aa
	padding: 10px
	background: #222
	border-radius: $control-border-radius
	font-family: monospace, monospace
	-webkit-user-select: text
	white-space: pre
	overflow: auto
	color: white
	max-height: 400px
