.table__cell
	align-items: center
	min-height: 26px
	display: flex
	min-width: 0
	flex: 1

	&[hidden]
		display: initial
		opacity: 0

	&--left
		justify-content: flex-start

	&--center
		justify-content: center

	&--right
		justify-content: flex-end
